{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger hidden-d-none" id="error">
                <div class="text-center" id="errorMessage">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <label for="inputPhone" class="sr-only">Email address</label>
        <input type="text" value="{{ last_username }}" name="phone" id="inputPhone" class="form-control"
               placeholder="Phone number" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
{% endblock %}