{% extends 'base.html.twig' %}
{% block title %} Регистрация {% endblock %}
{% block body %}
    <div style="justify-content: center; display: flex; align-items: center; width: 500px; margin: auto">

        <form name="registration-form" id="registration-form" method="post">
            <h1>Регистрационные данные</h1>
            <div class="form-group">
                <label for="name">Имя</label>
                <input name="name" type="text" class="form-control" id="name">
            </div>

            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input name="surname" type="text" class="form-control" id="surname">
            </div>

            <div class="form-group">
                <label for="phone">Телефон</label>
                <input name="phone" type="number" class="form-control" id="phone">
            </div>

            <div class="form-group">
                <label for="invited">Кто вас пригласил?</label>
                <select name="invited" class="form-control" id="invited">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }} {{ user.surname }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="organisation">Организация</label>
                <input name="organisation" type="text" class="form-control" id="organisation">
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input name="password" type="password" class="form-control" id="password">
            </div>

            <div class="form-group">
                <label for="confirmed-password">Подтвердите пароль</label>
                <input name="confirmed-password" type="password" class="form-control" id="confirmed-password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Регистрация</button>

        </form>
    </div>


{% endblock %}